.cfb-form {
	margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
}
.cfb-form li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.cfb-form label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
}
.cfb-form input[type=text], 
.cfb-form input[type=date],
.cfb-form input[type=datetime],
.cfb-form input[type=number],
.cfb-form input[type=search],
.cfb-form input[type=time],
.cfb-form input[type=url],
.cfb-form input[type=email],
.cfb-form input[type=tel],
textarea, 
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;	
}
.cfb-form input[type=text]:focus, 
.cfb-form input[type=date]:focus,
.cfb-form input[type=datetime]:focus,
.cfb-form input[type=number]:focus,
.cfb-form input[type=search]:focus,
.cfb-form input[type=time]:focus,
.cfb-form input[type=url]:focus,
.cfb-form input[type=email]:focus,
.cfb-form input[type=tel]:focus,
.cfb-form textarea:focus, 
.cfb-form select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.cfb-form .field-divided{
	width: 49%;
}

.cfb-form input{
	width: 100%;
}
.cfb-form select{
	width: 100%;
}
.cfb-form textarea{
	width: 100%;
	height: 100px;
}
.cfb-form button[type=submit], .cfb-form button{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
	cursor: pointer;
}
.cfb-form button[type=submit]:hover, .cfb-form button:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}

.form-group{
	margin-bottom: 15px;
	position: relative;
}

.cfb-form [data-error] [name]{
	border: 1px solid red;
}

[data-error]:after {
	content: attr(data-error);
	font-size: 12px;
	line-height: 1;
	font-weight: 400;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -14px;
	color: red;
	text-align: center;
}

.cfb-form .response{
	font-size: 15px;
	font-weight: 500;
}

.cfb-form .response.error{
	color: red;
}

.cfb-form .tooltip-element{
	position: relative;
	visibility: visible;
	color: #fff;
	background: #000;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	display: inline-block;
	text-align: center;
	line-height: 16px;
	margin: 0 5px;
	font-size: 12px;
	cursor: default;
}

.cfb-form *[tooltip]:hover:before {
	border: solid;
	border-color: #222 transparent;
	border-width: 6px 6px 0;
	bottom: 17px;
	content: '';
	left: 2px;
	position: absolute;
	z-index: 99;
	cursor: default;
}

.cfb-form *[tooltip]:hover:after {
    background: rgba(0,0,0,0.9);
    border-radius: 5px 5px 5px 0;
    bottom: 23px;
    color: #fff;
    content: attr(tooltip);
    padding: 10px 5px;
    position: absolute;
    z-index: 98;
    left: 2px;
    width: 230px;
    text-shadow: none;
    font-size: 12px;
    line-height: 1.5em;
    cursor: default;
}

.cfb-form .formbuilder-radio, .cfb-form .formbuilder-checkbox{
	display: flex;
	width: 100%;
}

.cfb-form .formbuilder-radio-inline, .cfb-form .formbuilder-checkbox-inline{
	display: flex;
	width: auto;
	margin-bottom: 5px;
}

.cfb-form .formbuilder-radio-inline input, .cfb-form .formbuilder-checkbox-inline input{
	width: auto;
}

.cfb-form .formbuilder-radio > *, .cfb-form .formbuilder-checkbox > *{
	width: auto;
}

.cfb-form .checkbox-group, .cfb-form .radio-group{
	display: flex;
	flex-wrap: wrap;
}

.cfb-form .checkbox-group > *:not(:last-child, .formbuilder-checkbox), .cfb-form .radio-group > *:not(:last-child, .formbuilder-radio){
	margin-right: 20px;
}