.form-group{
    margin-bottom: 15px;
    position: relative;
}

.cfb-form [data-error]:not(.formbuilder-checkbox-group) [name]{
    border: 1px solid red;
}

.cfb-form [data-error].formbuilder-checkbox-group {
    border: 1px solid red;
}

[data-error]:after {
    content: attr(data-error);
    font-size: 12px;
    line-height: 1;
    font-weight: 400;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -14px;
    color: red;
    text-align: center;
}

.cfb-form .response{
    font-size: 15px;
    font-weight: 500;
}

.cfb-form .response.error{
    color: red;
}

.cfb-form .tooltip-element{
    position: relative;
    visibility: visible;
    color: #fff;
    background: #000;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    line-height: 16px;
    margin: 0 5px;
    font-size: 12px;
    cursor: default;
}

.cfb-form *[tooltip]:hover:before {
    border: solid;
    border-color: #222 transparent;
    border-width: 6px 6px 0;
    bottom: 17px;
    content: '';
    left: 2px;
    position: absolute;
    z-index: 99;
    cursor: default;
}

.cfb-form *[tooltip]:hover:after {
    background: rgba(0,0,0,0.9);
    border-radius: 5px 5px 5px 0;
    bottom: 23px;
    color: #fff;
    content: attr(tooltip);
    padding: 10px 5px;
    position: absolute;
    z-index: 98;
    left: 2px;
    width: 230px;
    text-shadow: none;
    font-size: 12px;
    line-height: 1.5em;
    cursor: default;
}