@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');

.warpper{
  display:flex;
  flex-direction: column;
  align-items: left;
}

.warpper input[name="group"]{
  display: none;
}

.warpper .tabs{
  border-bottom: 1px solid #1d2327;
}

.tab{
  cursor: pointer;
  padding:10px 20px;
  margin:0px 2px;
  margin-bottom: -1px;
  background:#1d2327;
  display:inline-block;
  color:#fff;
  border-radius:3px 3px 0px 0px;

  border-top: 1px solid #1d2327;
  border-left: 1px solid #1d2327;
  border-right: 1px solid #1d2327;
}
.panels{
  background:#fffffff6;
  min-height:200px;
  border-radius:3px;
  overflow:hidden;
  padding:20px;  
}
.panel{
  display:none;
  animation: fadein .8s;
}
@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
.radio{
  display:none;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel,
#four:checked ~ .panels #four-panel,
#five:checked ~ .panels #five-panel{
  display:block;

}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #mail-fields,
#three:checked ~ .tabs #three-tab,
#four:checked ~ .tabs #four-tab,
#five:checked ~ .tabs #five-tab{
  background:#fffffff6;
  color:#000;
  border-bottom: 1px solid #fff;
}

#fb-editor .form-actions.btn-group{
  display: none;
}


#form-fields-name span{
  font-weight: 700;
  font-size: 1rem;
  display: inline-block;
}

#form-fields-name span:not(:last-child){
  margin-right: 10px;
}

#cfb-wrapper .form-table td > *{
  width: 100%;
}

.cfb-settings .form-table th{
  vertical-align: bottom;
}

#cfb_save.load{
  background: #ccc;
}

.copy{
  opacity: 1;
  cursor: pointer;
  transition: opacity .3s;
}

.copy.copied{
  opacity: 0.5;
}

.copy.shortcode{
  font-weight: 600;
  margin-top: 10px;
  display: inline-block;
  background: #53b953;
  color: #fff;
  padding: 3px 10px 5px 10px;
}

#admin_css{
  width: 100%;
  height: 500px;
}

textarea[data-id="admin-css"]{
  display: none;
}

.integration-select{
  margin-right: 25px;
}

.perday-integration-select:not(.loaded){
  display: none;
}

.top-selects > div{
  float: unset;
  display: inline-block;
}

.resp-container{
  margin-top: 40px;
}

.panel.load{
  opacity: 0.7;
  pointer-events: none;
}

#fb-editor .hidden-field{
  display: block;
}

#fb-editor li.wrapper-field{
  background-color: #cfcfcf!important;
}